h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins";
}

h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins";
}
#div3 p {
  font-size: 14px;
}
.register-now {
  display: flex;
  width: 100%;
  padding-bottom: 5vw;
  /* scroll-margin-top: 70px; */
  scroll-snap-margin-top: 70px;
  font-family: "Poppins";
}

.register-now .image-desktop img {
  max-width: 100%;
}

.register-now .content {
  margin: auto 0;
}

.register-now .description {
  color: #828282;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-top: 10px;
  font-family: "Poppins";
}

.register-now .info {
  display: flex;
  margin: 15px 0;
  font-family: "Poppins";
}

.register-now .info .number {
  font-size: 48px;
  font-weight: 600;
  color: #fe783a;
  font-family: "Poppins";
  align-self: center;
}

.register-now .info .label {
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0;
  margin-left: 20px;
  font-family: "Poppins";
}

.register-now .btn-register-now {
  font-weight: 800;
  font-size: 16px;
  min-width: 231px;
  height: 60px;
  font-family: "Poppins";
}

.button-komponen {
  font-weight: 600;
}

/* serviceYYY */

.service {
  padding-top: 5vw;
  background-color: #f8f9fa;
  scroll-snap-margin-top: 70px;
}

.service-desktop {
  background: linear-gradient(90deg, #ff6a3a -20.91%, #fba63c 85.49%);
  border-radius: 20px;
  padding: 80px 20px;
}

.service-mobile {
  display: none;
}

.service .title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Poppins";
}

.service .description {
  color: #828282;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins";
}

.service .content {
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  min-height: 230px;
  margin-bottom: 50px;
  font-family: "Poppins";
}

.service .title-content {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
}

.service .description-content {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
  font-family: "Poppins";
}

.service .icons {
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: -50px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: transparent;
  -webkit-box-shadow: 2px 4px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 5px -1px rgba(0, 0, 0, 0.75);
}

.benefit-head {
  position: relative;
  margin: 0 50px;
  margin-top: -50px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-family: "Poppins";
}
.card-body {
  padding: 0px;
}
.list-benefit {
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins";
}
.benefit .list-benefit::marker {
  color: #f95031;
}

.benefit .logo {
  width: 120px;
  margin: auto;
}

.benefit .content {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
}
.benefit-content-span {
  color: #f95031;
  font-size: 18px;
}
.benefit-table-desktop {
  margin-top: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
}

.benefit-table-desktop .row {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 10px;
  overflow-x: hidden;
  font-family: "Poppins";
}

.benefit-table-desktop .head {
  background-color: #fba63c;
  font-family: "Poppins";
  font-size: 20px;
}

.benefit-table-desktop .subhead {
  background-color: #ff6a3a;
  font-family: "Poppins";
  font-size: 20px;
}

.benefit-table-mobile {
  display: none;
}

.benefit-table-mobile .btn-menu {
  width: auto;
  margin-right: 6px;
  color: #c2c2c2;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
}

.benefit-table-mobile .btn-menu:hover {
  opacity: 0.7;
}

.benefit-table-mobile .btn-menu:focus {
  box-shadow: unset;
}

.benefit-table-mobile .active {
  color: #ff6a3a;
  border: 1px solid #ff6a3a;
}

.recommend .card {
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.recommend .card .image {
  height: 180px;
  display: flex;
}

.recommend .card img {
  margin-top: auto;
}

.recommend .card .content {
  background-color: #ffffff;
  padding: 20px;
  min-height: 100px;
  border-radius: 0px 0px 20px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-family: "Poppins";
}

.flow {
  background-color: #ffffff;
  margin-top: 20px;
}

.flow .content-mobile {
  display: none;
}

.flow h3 {
  max-width: 450px;
  padding: 30px 0;
  font-weight: 700;
  font-family: "Poppins";
  letter-spacing: 0.7px;
}

.flow .number {
  width: 54px;
  height: 54px;
  background-color: #ffece9;
  border: 1px solid #ff6a3a;
  border-radius: 50%;
  font-family: "Poppins";
  padding-top: 1.5vh;
}

.flow .number span {
  font-size: 24px;
  color: #ff6a3a;
  display: block;
  text-align: center;
  margin-top: 6px;
  font-family: "Poppins";
}

.flow .image {
  position: relative;
  margin-top: -54px;
  display: flex;
  justify-content: center;
}

.flow .image img {
  height: 200px;
  width: 200px;
}

.flow .description {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
}

.flow .description span {
  width: 200px;
  text-align: center;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: #ff6a3a;
  font-family: "Poppins";
}

.feature {
  padding: 20px 0;
}

.feature h3 {
  padding: 15px 0;
}

.feature .fitur {
  text-align: center;
}

.feature .content {
  width: 70%;
  margin: auto 0;
  z-index: 1;
  font-family: "Poppins";
}

.feature .title {
  font-size: 16px;
  font-weight: 600;
  color: #f95031;
  font-family: "Poppins";
}

.feature .description {
  font-size: 14px;
  font-family: "Poppins";
}

.image-feature {
  position: absolute;
  top: 40px;
  width: 480px;
  margin-top: -5rem;
  height: auto;
  right: 0;
}

.btn-feature {
  padding: 8px;
  border: solid 1px #c2c2c2;
  color: #c2c2c2;
  font-weight: 500;
  border-radius: 8px;
  font-family: "Poppins";
}

.btn-feature:focus, .actived {
  border: solid 1px #f95031;
  color: #f95031;
}

.subhead-feature {
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins";
}

#arrow-btn:hover .arrow-feature {
  display: block;
  background-image: url("@/assets/img/icons/arrow-right-orange.svg");
}

.acc-feature:hover {
  color: #f95031;
}

#arrow-btn:focus .arrow-feature {
  display: block;
  background-image: url("@/assets/img/icons/arrow-right-orange.svg");
}

.acc-feature {
  border: none;
  background-color: #f6f6f9;
}

.acc-feature:focus {
  color: #f95031;
}

.arrow-feature {
  width: 3rem;
  height: 2rem;
  background-image: url("@/assets/img/icons/arrow-right-black.svg");
  background-repeat: no-repeat;
}

.image-feature-unggulan {
  text-align: -webkit-right;
}

.image-feature-unggulan img {
  max-width: 100%;
}
.conclusion {
  max-height: 275px;
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
  background-color: #fcebbe;
}

.conclusion .content {
  max-width: 630px;
  text-align: center;
  margin: auto 0;
  font-weight: 600;
  font-family: "Poppins";
}

.conclusion .content .title {
  font-size: 32px;
  font-family: "Poppins";
}

.conclusion .content .btn {
  font-weight: 600;
  font-size: 16px;
  padding: 16px 24px;
  font-family: "Poppins";
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: unset;
}

.conclusion .bg-model-left {
  position: relative;
  margin-top: -50px;
}

.conclusion .bg-model-right {
  position: relative;
  margin-top: -63px;
}

.testimoni .title {
  max-width: 624px;
  margin: 20px auto;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Poppins";
}

.testimoni .card {
  width: 90%;
  border: none;
  border-radius: 20px;
  height: 22rem;
  margin: 10px 0;
  font-family: "Poppins";
}

.testimoni .card .head {
  font-size: 20px;
  font-weight: 500;
  background-color: #ff6a3a;
  border-radius: 20px 20px 0px 0px;
  height: 80px;
  display: flex;
}

.testimoni .card .head .profile {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 5%;
  margin-top: 20px;
}

.testimoni .card .head .profile img {
  width: 90px;
  height: 90px;
  margin-top: 5px;
}

.testimoni .card .content {
  padding: 30px 40px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
}

.testimoni .card .name {
  font-size: 20px;
  color: #ffffff;
  margin: auto 30px;
  padding-top: 10px;
  text-align: left;
  font-family: "Poppins";
}

.testimoni .carousel__prev,
.testimoni .carousel__next {
  background-color: transparent;
}

.testimoni .carousel__prev {
  left: 23%;
}

.testimoni .carousel__next {
  right: 23%;
}

.testimoni .carousel__slide > .carousel__item {
  transform: scale(1);
  opacity: 0.5;
  transition: 0.5s;
}

.testimoni .carousel__slide--visible > .carousel__item {
  opacity: 1;
  transform: rotateY(0);
}

.testimoni .carousel__slide--next > .carousel__item {
  transform: scale(0.9) translate(-10px);
}

.testimoni .carousel__slide--prev > .carousel__item {
  transform: scale(0.9) translate(10px);
}

.testimoni .carousel__slide--active > .carousel__item {
  transform: scale(1.1);
}

.testimoni .content-mobile {
  display: none;
}

#feature-mobile {
  display: none;
}

#conclusion-mobile {
  display: none;
}

/* FAQ */

.faq {
  background-color: #f8f9fa;
  padding: 10vw 0;
  height: 100%;
  margin-top: 50px;
}

.faq .accordion-item p {
  font-size: 14px;
  color: #000000;
}

.faq .header {
  display: flex;
  justify-content: center;
  padding-bottom: 3vw;
}

.faq .header-title {
  font-size: 32px;
  font-weight: 700;
}

.faq .accordion-item {
  border-radius: 8px !important;
  border: 1px solid #e2e2e2 !important;
  margin-bottom: 10px;
}

.faq .accordion-button {
  border-radius: 8px !important;
  color: #f95031 !important;
}

.faq .item-header {
  width: 90%;
  font-family: "Poppins";
  font-weight: 700;
}

.faq .accordion-button::after {
  background-image: url("@/assets/img/icons/plus-icon.png");
}

.faq .accordion-button:not(.collapsed)::after {
  background-image: url("@/assets/img/icons/minus-icon.png");
  background-color: unset !important;
  border-color: unset !important;
  color: #f95031 !important;
  box-shadow: unset !important;
}

.faq .accordion-button:focus {
  border-color: unset !important;
  box-shadow: unset !important;
}

.faq .accordion-body {
  padding-top: 0 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  margin-right: 18%;
  font-weight: 400;
  font-family: "Poppins";
}

.faq .FAQ-button {
  text-align: -webkit-right;
}

.faq .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: unset;
}

@media (max-width: 1199.98px) {
  .register-now .description {
    font-size: 16px;
  }

  .register-now .image-desktop {
    margin: auto 0;
  }

  .register-now .btn-register-now {
    font-weight: 700;
    font-size: 14px;
    min-width: 160px;
    height: 50px;
  }

  .service .content {
    min-height: 255px;
  }

  .recommend .card .content {
    min-height: 140px;
  }

  .image-feature {
    width: 420px;
  }

  .benefit .content {
    margin-bottom: 20px;
  }

  .flow .description span {
    margin-left: 15%;
  }

  .flow .image {
    justify-content: end;
  }

  #feature-mobile {
    display: none;
  }

  #conclusion-mobile {
    display: none;
  }
}

@media (max-width: 991.98px) {
  h3 {
    font-size: 28px;
  }

  .register-now .title {
    margin-top: 15px;
  }

  .register-now .info .number {
    font-size: 34px;
  }

  .register-now .info .label {
    font-size: 14px;
    margin-left: 10px;
  }

  .register-now .description {
    width: 100%;
  }

  .service .content {
    min-height: 230px;
  }

  .image-feature {
    display: none;
  }

  .service .title {
    margin-top: 4vh;
  }

  .benefit-head {
    margin-left: 30px;
    margin-right: 30px;
  }

  .testimoni .card .content {
    padding: 30px;
    font-size: 14px;
  }

  .testimoni .card {
    min-height: 250px;
    margin: 20px 0;
  }

  .conclusion .bg-model-left {
    margin-top: 0;
    width: 150px;
  }

  .conclusion .bg-model-right {
    margin-top: 0;
    width: 200px;
  }

  #feature-mobile {
    display: none;
  }

  #conclusion-mobile {
    display: none;
  }
}

@media (max-width: 767.98px) {
  #feature-mobile {
    display: none;
  }

  h3 {
    font-size: 26px;
  }

  .register-now .title {
    text-align: center;
  }

  .register-now .description {
    text-align: center;
  }

  .register-now .info {
    justify-content: center;
  }

  .register-now .btn-register-now {
    display: block;
    margin: 0 auto;
  }

  .register-now .image-desktop {
    margin-top: 20px;
  }

  .service-desktop {
    display: none;
  }

  .service-mobile {
    display: unset;
  }

  .service-mobile .carousel {
    background: linear-gradient(90deg, #ff6a3a -20.91%, #fba63c 85.49%);
    border-radius: 10px;
  }

  .service-mobile .carousel .card {
    margin: 50px 20px;
    width: 100%;
    text-align: left;
    min-height: 180px;
    border-radius: 10px;
    padding: 0 10px;
  }

  .service-mobile .carousel .card .description {
    margin-top: 10px;
  }

  .service-mobile .carousel__prev,
  .service-mobile .carousel__next {
    background-color: transparent;
  }

  .service-mobile .carousel__prev {
    position: absolute;
    left: 45%;
    top: 92%;
  }

  .service-mobile .carousel__next {
    position: absolute;
    right: 45%;
    top: 92%;
  }

  .service .title {
    justify-content: start;
    margin: 10px 0;
  }

  .recommend .card .image {
    margin: 0 auto;
  }

  .recommend .card .content {
    max-width: 350px;
    margin: 0 auto;
  }

  .benefit-head {
    margin: 0;
    margin-top: 10px;
  }

  .benefit-table-desktop {
    display: none;
  }

  .benefit-table-mobile {
    display: unset;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
  }

  .benefit-table-mobile .row {
    border-radius: 12px;
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 10px;
    overflow-x: hidden;
  }

  .benefit-table-mobile .head {
    background-color: #fba63c;
    font-family: "poppins";
    font-weight: 600;
    font-size: 14px;
  }

  .benefit-table-mobile .subhead {
    background-color: #ff6a3a;
    font-family: "poppins";
    font-weight: 600;
    font-size: 14px;
  }

  .testimoni .content-desktop {
    display: none;
  }

  .testimoni .content-mobile {
    display: unset;
  }

  .testimoni .content-mobile .carousel__prev,
  .testimoni .content-mobile .carousel__next {
    border-radius: 15px;
  }

  .testimoni .content-mobile .carousel__prev {
    position: absolute;
    left: 40%;
    top: 110%;
  }

  .testimoni .content-mobile .carousel__next {
    position: absolute;
    right: 40%;
    top: 110%;
  }

  .testimoni .card .content {
    font-size: 12px;
  }

  .testimoni .card .name {
    font-size: 14px;
    margin-right: 0;
    margin-left: 20px;
  }

  .conclusion .bg-model-left {
    width: 100px;
  }

  .conclusion .bg-model-right {
    width: 150px;
  }

  .conclusion .content .btn {
    font-size: 14px;
    padding: 12px 18px;
  }

  #conclusion-mobile {
    display: none;
  }

  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

@media (max-width: 575.98px) {
  .feature {
    display: none;
  }

  #feature-mobile {
    display: block;
  }

  .head-feature {
    padding-top: 40px;
  }

  .subhead-feature {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    color: #f95031;
  }

  .subhead-feature-mobile {
    align-self: center;
  }

  .content-feature {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px;
  }

  h3 {
    font-size: 24px;
  }

  .flow .content-desktop {
    display: none;
  }

  .flow .content-mobile {
    display: unset;
  }

  .flow .content-mobile .number-mobile {
    width: 34px;
    height: 34px;
    background-color: #ffece9;
    border: 1px solid #ff6a3a;
    border-radius: 50%;
    padding-top: 1%;
  }

  .flow .content-mobile .number-mobile span {
    font-size: 18px;
    color: #ff6a3a;
    margin: 10px;
  }

  .flow .content-mobile .image-mobile {
    width: 40%;
  }

  .flow .content-mobile .image-mobile img {
    width: 90%;
  }

  .flow .content-mobile .description-mobile {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    font-family: "Poppins";
    color: #ff6a3a;
    width: 50%;
    display: flex;
    align-items: center !important;
  }

  .conclusion h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
  }

  .conclusion .content {
    padding: 15px;
  }

  .conclusion .bg-model-left {
    width: 80px;
  }

  .conclusion .bg-model-right {
    width: 110px;
  }

  .conclusion .content .btn {
    font-size: 14px;
    padding: 8px 14px;
  }

  .register-now .info {
    border-top: solid 2px #e2e2e2;
  }

  #conclusion-mobile {
    background-color: #fcebbe;
    display: block;
    height: 180px;
    text-align: -webkit-center;
  }

  .conclusion-mobile-left {
    background-image: url("@/assets/img/hero/model-conclusion-mobile-left.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 180px;
  }

  .conclusion-mobile-right {
    background-image: url("@/assets/img/hero/model-conclusion-mobile-right.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  #toconclusion {
    height: 40px;
  }
  #conclusion-mobile .content-mobile {
    padding-top: 20px;
    width: 60%;
    text-align: -webkit-center;
    font-size: 16px;
  }

  .conclusion {
    display: none;
  }
  .swiper-wrapper {
    text-align: -webkit-center;
  }
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

@media (max-width: 480px) {
  .register-now .info .number {
    font-size: 24px;
  }
  .button-komponen {
    text-align: -webkit-center;
  }

  .feature .title-content {
    font-size: 26px;
  }

  .service-mobile .carousel .card {
    min-height: 250px;
  }

  .conclusion h3 {
    font-size: 18px;
  }

  .conclusion .content .btn {
    font-size: 12px;
    padding: 10px 16px;
  }

  .benefit .logo {
    width: 70px;
  }
  .benefit .content {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .benefit-content-span {
    font-size: 16px;
  }
  .benefit-head {
    padding: 10px;
  }
  .list-benefit {
    font-size: 14px;
  }
  .recommend {
    text-align: -webkit-center;
  }
  .recommend h3 {
    width: 60%;
  }
  .recommend .card .content {
    font-weight: 700;
  }
  .recommend-content-span {
    font-weight: 700;
    color: #f95031;
  }
  .flow h3 {
    max-width: 80%;
  }
  .testimoni .title {
    font-weight: 600;
    font-size: 16px;
  }
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
  .faq .header-title {
    font-size: 16px;
    font-weight: 600;
  }
  .faq .item-header {
    font-size: 14px;
  }
  .faq .accordion-item p {
    font-size: 12px;
  }
}
