.profile {
  color: #828282;
}
.profile .profile-image {
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.profile .profile-icon {
  width: 10%;
}
.profile .profile-desc {
  width: 70%;
}
.profile .row {
  margin-bottom: 10px;
}
.company .company-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.company-link {
  list-style-type: none;
  padding-left: 0;
}
.company-link li {
  margin: 8px 0;
}
.company-link a {
  color: #828282;
  text-decoration: none;
}
.company-link a:hover {
  color: #ff6a3a;
}
.partner .partner-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 60px;
}
.image-partner {
  margin-left: 10px;
}
.image-partner-img {
  width: 100px;
  margin: auto;
}
.contact {
  padding-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.contact img {
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  margin-left: 1vw;
}
.copyright {
  color: #828282;
}
@media only screen and (max-width: 991px) {
  .contact {
    padding-top: 45px;
    justify-content: start;
  }
  .partner .partner-title {
    font-weight: 600;
    margin-top: 45px;
  }
}
@media only screen and (max-width: 540px) {
  .profile .profile-image {
    width: 135px;
  }
  .profile .profile-desc {
    width: 80%;
  }
  .company .company-title {
    margin-top: 5vw;
  }
  .partner .partner-title {
    margin-top: 5vw;
  }
  .contact {
    padding-top: 5vw;
    margin-left: 3vw;
    padding-bottom: 8vw;
  }
  .copyright {
    display: flex;
    justify-content: center;
  }
  .image-partner-img {
    width: 70px;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .profile .profile-desc {
    width: 90%;
  }
}