/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@charset "utf-8";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900'); */
*
{
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}
html{
    overflow-x:hidden;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #f6f6f9;
	color: #222222;
    overflow-x:hidden;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 2px #fde0db;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.router-link-exact-active{
	color: #F95031!important;
}
p a:active
{
	position: relative;
	color: #FF6A3A;
}
p a:hover
{
	color: #FF6A3A;
	background: #fde0db;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #fde0db;
	color: #FF6A3A;
}
p::selection
{
	background: #fde0db;
}
h1{font-size: 72px;}
h2{font-size: 40px;}
h3{font-size: 32px;}
h4{font-size: 26px;}
h5{font-size: 18px;}
h6{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	color: #222222;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
::-webkit-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #C2C2C2 !important;
}
:-moz-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #C2C2C2 !important;
}
::-moz-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #C2C2C2 !important;
}
:-ms-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #C2C2C2 !important;
}
::input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #C2C2C2 !important;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.btn{
    border-radius: 12px!important;
}
.btn-primary{
    background-color: #F95031!important;
    border-color: #F95031!important;
}
.btn-primary:hover{
    background-color: #AB2900!important;
    border-color: #AB2900!important;
}
.btn-success{
	background-color: #34A770!important;
	border-color: #34A770!important;
}
.btn-success:hover{
	background-color: #10673E!important;
	border-color: #10673E!important;
}
.btn-warning{
	background-color: #FBA63C!important;
	border-color: #FBA63C!important;
}
.btn-warning:hover{
	background-color: #AF6A13!important;
	border-color: #AF6A13!important;
}
.btn-danger{
	background-color: #E31A1A!important;
	border-color: #E31A1A!important;
}
.btn-danger:hover{
	background-color: #79170A!important;
	border-color: #79170A!important;
}
.btn-info{
	background-color: #08A0F7!important;
	border-color: #08A0F7!important;
}
.btn-info:hover{
	background-color: #0F679A!important;
	border-color: #0F679A!important;
}
.btn-outline-primary{
    color: #F95031!important;
    border-color: #F95031!important;
}
.btn-outline-primary:hover{
    background-color: #F95031!important;
    color: #FFFFFF!important;
}
.btn-outline-success{
	color: #34A770!important;
	border-color: #34A770!important;
}
.btn-outline-success:hover{
	background-color: #10673E!important;
    color: #FFFFFF!important;
}
.btn-outline-warning{
	color: #FBA63C!important;
	border-color: #FBA63C!important;
}
.btn-outline-warning:hover{
	background-color: #FBA63C!important;
    color: #FFFFFF!important;
}
.btn-outline-danger{
	color: #E31A1A!important;
	border-color: #E31A1A!important;
}
.btn-outline-danger:hover{
	background-color: #E31A1A!important;
    color: #FFFFFF!important;
}
.btn-outline-info{
	color: #08A0F7!important;
	border-color: #08A0F7!important;
}
.btn-outline-info:hover{
	background-color: #08A0F7!important;
    color: #FFFFFF!important;
}
@media only screen and (max-width: 991px)
{
	h1{font-size: 48px;}
	h2{font-size: 24px;}
}

@media only screen and (max-width: 767px)
{
	h1{font-size: 36px;}
	h6{font-size: 12px;}
}
